* {
  --black: #212121;
  --blue: #2196F3;
  --white: #ffffff;
  --gray: #2F303A;
  --outside: #F5F4FA;
  --mailcolor: #757575;
  --social-color: #AFB1B8;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 488px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #ececec;
}

.firm-info .container {
  width: 1600px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  max-width: 1600px;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.firm-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  margin-bottom: 60px;
}

.clients-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 94px 0 50px;
}

.firm-block__logo {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firm-block__logo:hover {
  fill: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.firm-block__logo .firm-block__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  fill: var(--social-color);
}

.firm-block__logo .firm-block__icon:hover {
  fill: var(--blue);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.firm-block__logo {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .firm-block__logo {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .firm-block__logo {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.container .firm-info__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

@media screen and (min-width: 1200px) {
  .container .firm-info__title {
    font-size: 44px;
    line-height: 60px;
  }
}

.firm-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 600px;
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-section/team.jpg), no-repeat;
  background: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 100%, rgba(47, 48, 58, 0.4) 100%), url(../images/main-section/team.jpg), no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .firm-info {
    background: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-section/team@2x.jpg), no-repeat;
    background: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 100%, rgba(47, 48, 58, 0.4) 100%), url(../images/main-section/team@2x.jpg), no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.firm-item__button {
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.container .firm-item__button {
  width: 202px;
  min-height: 50px;
  margin-bottom: 200px;
  padding: 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--black);
  background-color: var(--white);
  border: none;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.container .firm-item__button:hover {
  color: var(--white);
  background-color: var(--blue);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.container .firm-item__button:focus {
  color: var(--white);
  background-color: var(--blue);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.form-data {
  text-align: center;
}

.form-data__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .form-data__title {
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .form-data__title {
    line-height: 23px;
  }
}

.form-data__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-data__wrapper {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.form-data input {
  width: 100%;
  cursor: pointer;
  padding-left: 42px;
  line-height: 40px;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data input:focus, .form-data input:hover {
  border: 1px solid var(--blue);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  fill: var(--black);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-data input:focus + .form-data__icon,
.form-data input:hover + .form-data__icon {
  fill: var(--blue);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data__textarea-wrapper {
  margin-top: 4px;
  margin-bottom: 20px;
}

.form-data__textarea {
  cursor: pointer;
  resize: none;
  width: 100%;
  height: 96px;
  padding: 12px 16px;
  border: 1px solid var(--black);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data__textarea:focus, .form-data__textarea:hover {
  border: 1px solid var(--blue);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data__textarea-wrapper textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.form-data__textarea-wrapper textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.form-data__textarea-wrapper textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.form-data__textarea-wrapper textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.condition input[type='checkbox'] {
  opacity: 0;
  width: 16px;
  height: 15px;
}

.condition input:checked + .condition__icon {
  opacity: 1;
}

.condition input:checked ~ .condition__border {
  opacity: 0;
}

.condition__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.condition__span {
  position: relative;
}

.condition__icon {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: var(--black);
  background-color: var(--blue);
}

.condition__border {
  width: 14px;
  height: 13px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.condition__border:focus, .condition__border:hover {
  cursor: pointer;
  border: 1px solid var(--blue);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.condition__link,
.condition__text {
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .condition__link,
  .condition__text {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .condition__link,
  .condition__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.condition__text {
  margin-left: 9px;
}

.condition__link {
  margin-left: 3px;
  color: var(--blue);
  text-decoration: underline;
}

.label__btn {
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-color: var(--blue);
  border: 0;
}

.form-data {
  text-align: center;
}

.form-data__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .form-data__title {
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .form-data__title {
    line-height: 23px;
  }
}

.form-data__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-data__wrapper {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.form-data input {
  width: 100%;
  cursor: pointer;
  padding-left: 42px;
  line-height: 40px;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data input:focus, .form-data input:hover {
  border: 1px solid var(--blue);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  fill: var(--black);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-data input:focus + .form-data__icon,
.form-data input:hover + .form-data__icon {
  fill: var(--blue);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data__textarea-wrapper {
  margin-top: 4px;
  margin-bottom: 20px;
}

.form-data__textarea {
  cursor: pointer;
  resize: none;
  width: 100%;
  height: 96px;
  padding: 12px 16px;
  border: 1px solid var(--black);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data__textarea:focus, .form-data__textarea:hover {
  border: 1px solid var(--blue);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data__textarea-wrapper textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.form-data__textarea-wrapper textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.form-data__textarea-wrapper textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.form-data__textarea-wrapper textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.condition input[type='checkbox'] {
  opacity: 0;
  width: 16px;
  height: 15px;
}

.condition input:checked + .condition__icon {
  opacity: 1;
}

.condition input:checked ~ .condition__border {
  opacity: 0;
}

.condition__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.condition__span {
  position: relative;
}

.condition__icon {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: var(--black);
  background-color: var(--blue);
  border-color: var(--black);
}

.condition__border {
  border: 1px solid black;
  width: 14px;
  height: 13px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.condition__border:focus, .condition__border:hover {
  cursor: pointer;
  border: 1px solid var(--blue);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.condition__link,
.condition__text {
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .condition__link,
  .condition__text {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .condition__link,
  .condition__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.condition__text {
  margin-left: 9px;
}

.condition__link {
  margin-left: 3px;
  color: var(--blue);
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .overviev:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .overviev {
    width: calc((100% - 1 * 30px) / 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .overviev {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .overviev {
    width: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .my-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .my-team__list {
    padding-bottom: 60px;
  }
}

.overviev {
  /* width: 270px;
    min-height: 368px;*/
  background-color: var(--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.overviev__title {
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.overviev__name {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.my-team {
  background-color: var(--outside);
}

.my-team__list {
  /*display: flex;
            justify-content: space-between;
            padding-bottom: 94px;*/
}

.my-team__title {
  padding-bottom: 50px;
  padding-top: 94px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .my-team__title {
    padding: 60px 0 30px 0;
  }
}

.overviev img {
  display: block;
  width: 100%;
}

.navigation__logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--black);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.navigation__logo .navigation__logo--accent {
  color: var(--blue);
}

.menu__list:not(:last-child) {
  margin-right: 46px;
}

@media screen and (max-width: 768px) {
  .menu__list,
  .menu__contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__contact {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: var(--mailcolor);
}

.menu__contact:focus {
  fill: var(--blue);
  color: var(--blue);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu__contact:hover {
  fill: var(--blue);
  color: var(--blue);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 1200px) {
  .mail {
    margin-left: 350px;
    margin-right: 30px;
  }
}

.menu__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black);
  position: relative;
  display: inline-block;
}

.menu__link:focus {
  color: var(--blue);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu__link:hover {
  color: var(--blue);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu__contact .tel {
  margin-left: 50px;
  margin-right: 10px;
}

.header .menu__svg-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.header .menu__svg-icon:focus {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  fill: var(--blue);
}

.header .menu__svg-icon:hover {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  fill: var(--blue);
}

.menu__link::after {
  background-color: var(--blue);
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  width: 56px;
  height: 4px;
  border-radius: 2px;
  visibility: hidden;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.menu__link:hover::after {
  visibility: inherit;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: relative;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .strengths__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .strengths__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.strengths__list {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .strengths__list {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .strengths__list {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .strengths__list {
    width: 270px;
  }
}

.strengths__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 94px 0;
}

.strengths__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 101px;
  margin-left: 0;
  margin-right: 0;
}

.rectangle__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
}

.strengths__list .rectangle {
  background-color: var(--outside);
  border-radius: 4px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rectangle__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.rectangle__title {
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding-top: 30px;
  margin: 0 auto;
}

.social-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-team__list .social-team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
}

.social-team__link .social-team__icon {
  padding: 12px;
  fill: var(--social-color);
}

.social-team__list .social-team__link:hover {
  border-radius: 50%;
  background-color: var(--blue);
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-team__link .social-team__icon:hover {
  fill: var(--white);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 30px;
}

@media screen and (max-width: 1199px) {
  .whatwedo {
    display: none;
  }
}

.whatwedo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 94px;
}

.whatwedo__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.whatwedo__list-item {
  position: relative;
}

.whatwedo__label {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: var(--gray);
  color: var(--white);
  padding-top: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .footer__page,
  .footer__newsletter,
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  color: var(--white);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.footer__logo:hover {
  color: var(--blue);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer__logo:focus {
  color: var(--blue);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer__logo .blue-color {
  color: var(--blue);
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer__link {
    margin: 8px 0;
  }
}

.footer__link:hover {
  color: white;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer__link:focus {
  color: white;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer__addres {
  color: var(--white);
}

@media screen and (max-width: 1199px) {
  .footer__addres {
    padding: 8px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-left: 144px;
  }
}

@media screen and (min-width: 480px) {
  .footer-social {
    padding-top: 60px;
  }
}

.footer__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-link:focus {
  background-color: var(--blue);
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-link:hover {
  background-color: var(--blue);
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-link:nth-child(1) {
  margin-left: 0;
}

.footer__newsletter {
  margin-left: 70px;
}

@media screen and (max-width: 1199px) {
  .footer__newsletter {
    margin: 0;
  }
}

.footer__newsletter .paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

@media screen and (max-width: 1199px) {
  .footer__newsletter .paragraph {
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 480px) {
  .footer__newsletter {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__input-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1200px) {
  .footer__input-mail {
    width: 450px;
  }
}

.newsletter__button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--blue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--blue);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
  letter-spacing: 0.06em;
  color: var(--white);
  border: 0;
}

.footer__input-icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 26px;
}

@media screen and (min-width: 1199px) {
  .filters .container {
    padding-top: 60px;
  }
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--outside);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  margin-right: 8px;
}

.filters__button:hover {
  background-color: var(--blue);
  color: var(--white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.filters__button:focus {
  background-color: var(--blue);
  color: var(--white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.filters__list-item {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .filters__list-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 8px;
  }
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project {
  position: relative;
  overflow: hidden;
  width: 370px;
}

.project__title {
  /* margin-bottom: 30px; */
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__paragraph {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  border-bottom: solid 1px #eeeeee;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
}

.project__list-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.project {
  padding-bottom: 30px;
}

@media screen and (min-width: 1199px) {
  .project:nth-child(-n + 6) {
    padding-bottom: 30px;
  }
}

.project__list-item .overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding: 49px 45px 49px 24px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  visibility: hidden;
  -webkit-transform: translateY(294px);
          transform: translateY(294px);
}

.overlay__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: center;
}

.project__list-item:hover .overlay {
  -webkit-transform: translateY(-294px);
          transform: translateY(-294px);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .project {
    width: 450px;
  }
}

.project img {
  display: block;
  width: 100%;
}

.burger__open {
  position: absolute;
  right: 15px;
  top: 10px;
  display: inline-block;
  width: 3em;
  height: 3em;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .burger__open {
    display: none;
  }
}

.burger__menu--icon {
  fill: var(--blue);
  width: 40px;
  height: 40px;
}

.hamburger {
  visibility: visible;
  width: 100%;
  height: 100vh;
  position: fixed;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  top: 0%;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.ham__btn-icon {
  width: 19px;
  height: 19px;
}

.ham__btn-close:focus .ham__btn-icon,
.ham__btn-close:hover .ham__btn-icon {
  fill: blue;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ham__btn-close {
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  background-color: white;
}

.hamburger__menu--link {
  position: absolute;
  top: 48px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
}

.hamburger__link {
  padding-bottom: 32px;
  color: var(--black);
}

.hamburger__link:focus, .hamburger__link:hover {
  color: blue;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.hamburger__menu--social {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.hamburger__social {
  padding-right: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--blue);
  position: relative;
  left: -10px;
}

.hamburger__social:not(:first-child)::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  position: relative;
  left: -10px;
  bottom: -3px;
}

.contact {
  position: absolute;
  top: 71%;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact:first-child {
  color: crimson;
}

.contact__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  color: var(--blue);
}

.contact__link:last-child {
  font-size: 24px;
  line-height: 28px;
  color: #757575;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  padding: 40px;
  background: #ffffff;
  border-radius: 4px;
  width: 94%;
}

@media screen and (min-width: 480px) {
  .backdrop__modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop__modal {
    width: 528px;
  }
}

.backdrop__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.backdrop__icon {
  fill: var(--black);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__btn:focus .backdrop__icon,
.backdrop__btn:hover .backdrop__icon {
  fill: var(--blue);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */