.container .firm-info__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 60px;
    }

}

.firm-info {
     display: flex;
     align-items: center;
     text-align: center;
     height: 600px;
     background: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 100%, rgba(47, 48, 58, 0.4) 100%),
     url(../images/main-section/team.jpg),
     no-repeat;
     background-size: cover;
     background-position: center;
     max-width: 1600px;
     margin: 0 auto;
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
       background: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 100%, rgba(47, 48, 58, 0.4) 100%),
       url(../images/main-section/team@2x.jpg),
       no-repeat;
       background-size: cover;
       background-position: center;
    }

    }
