
.footer__logo {
    color: var(--white);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    &:hover{
        color: var(--blue);
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
    &:focus{
        color: var(--blue);
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
    .blue-color{
        color: var(--blue);
    }
}
.footer__link {
    @media screen and (max-width: 1199px) {
        margin: 8px 0;
    }
    color: rgba(255,255,255,0.6);
    &:hover{
color: rgba(100%, 100%, 100%, 100%);
transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
    &:focus{
color: rgba(100%, 100%, 100%, 100%);
transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
}
.footer__addres {
    color: var(--white);
    @media screen and (max-width: 1199px) {
        padding:8px 0;
    }
}

