.modal {
    width: 528px;
    height: 581px;
    position: relative;
    left: 536px;
    top: 221px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}
.svg-modal {
    width: 11px;
    height: 11px;

}

.close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    &:hover {
        background-color: var(--blue);
        fill: #ffffff;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
}