.menu__list:not(:last-child) {
    margin-right: 46px;
}


.menu__list,
.menu__contact{
    @media  screen and (max-width: 768px) {
        display:none;
        
    }
}
.menu__container{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        
    }
    
}
.menu__link{
    
}


.menu__contact
 {
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;

    font-size: 14px;
color: var(--mailcolor);
&:focus {
    fill: var(--blue);
    color: var(--blue);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

}
&:hover{
    fill: var(--blue);
    color: var(--blue);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

}
}
.mail{
    @media screen and (min-width: 1200px) {
        margin-left: 350px;
    margin-right: 30px;
}
    }
    

.menu__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black);
    position: relative;
    display: inline-block;
    &:focus {
        color: var(--blue);
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
    &:hover {
        color: var(--blue);
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
}

.menu__contact .tel {
    margin-left: 50px;
    margin-right: 10px;
}

.header .menu__svg-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    &:focus {
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
        fill: var(--blue);
    }
    &:hover{
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
        fill: var(--blue);
    }
}

.menu__link::after {

    background-color: var(--blue);
    content: "";
    position: absolute;
    top: 46px;
    left: 0;
    width: 56px;
    height: 4px;
    border-radius: 2px;
    visibility: hidden;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.menu__link:hover::after {
    visibility: inherit;
transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;}