.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 34px;
     @media screen and (min-width: 768px) {
         display: flex;
         flex-flow: row wrap;
        
         margin-left: -30px;
         justify-content: space-between;
     }
     @media screen and (max-width: 767px){
         justify-content: center;

     }
    }
.project {
    position: relative;
    overflow: hidden;  
    width: 370px;
    
&__title {
    /* margin-bottom: 30px; */
    border-left: solid 1px rgba(238, 238, 238, 1);
    border-right: solid 1px rgba(238, 238, 238, 1);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

&__paragraph {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    border-bottom: solid 1px rgba(238, 238, 238, 1);
    border-left: solid 1px rgba(238, 238, 238, 1);
    border-right: solid 1px rgba(238, 238, 238, 1);
}
&__list-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        1px 4px 6px rgba(0, 0, 0, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
}
.project{
    padding-bottom: 30px;;
}

.project:nth-child(-n + 6) {
    @media screen and (min-width: 1199px) {
        padding-bottom: 30px;
    }
    
}


.project__list-item .overlay {
    position: absolute;
    width: 100%;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    padding: 49px 45px 49px 24px;
    transform: translateY(0%);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    visibility: hidden;
    transform: translateY(294px);


}

.overlay__paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: center;

}

.project__list-item:hover .overlay {
    transform: translateY(-294px);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    visibility: visible;

}

.project{


    
     @media screen and (max-width: 767px){
         width:450px;
     }
}
.project img {
    display: block;
    width: 100%;

}