.strengths__lists {
    @media screen and (min-width: 480px) and (max-width: 767px){
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    
}

.strengths__list {
    @media screen and (min-width: 480px) {
        width: 450px;
        
    }
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: 354px;
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.strengths__lists {
    display: flex;
    justify-content: space-between;
    padding: 94px 0;
}

.strengths__list {
    display: flex;
    flex-direction: column;
    min-height: 101px;
    margin-left: 0;
    margin-right: 0;
}
.rectangle__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}
.strengths__list .rectangle {
    background-color: var(--outside);
    border-radius: 4px;

    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.rectangle__paragraph {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color:rgba(117, 117, 117, 1);

}

.rectangle__title {
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding-top: 30px;
    margin:0 auto;

}