.whatwedo{
      @media screen and (max-width: 1199px) {
          display: none;
      }
}
.whatwedo__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}

.whatwedo__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.whatwedo__list-item {
    position: relative;
}

.whatwedo__label {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
}