.is-hidden {
    opacity: 0;
    visibility: hidden;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop {
    position: absolute;
    width: 1600px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}